.wrapper_search{
    display: flex;
    flex-direction: column;
}
.heding_strong{
    margin:0;
    color: #555;
    font-family: Arial;
    font-size: 30px;
    font-weight: bold;
    line-height: 36px;
    text-transform: uppercase;
}

.innerLR{
    margin-top: 50px;
    margin-left: 240px;
}
.block1,.block2{
    display: flex;
    flex-direction: column;
}
.player{
    display: flex;

}
.player-box{
    margin-top:30px;
}
.players_search{
    width: 136px;
    height: 49px;
}
.bd-gray{
    padding: 10px 10px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    text-decoration: none;
    margin-left: 6px;
    font-size: 14px;
    font-weight: normal;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid #fff;
    border-radius: 4px;
}
.bd-gray h4:hover{
    color: #ad0202;
}

.bd-gray h4{
    color: #fff;
    text-align: center;
    font-family: Arial;
    font-size: 14px;
    font-weight: bold;
    margin:0;
}
.bd-gray img{
    padding-right: 5px;
}
.row2{
    display: flex;
    margin-top: 15px;
    margin-left: -7px;
    padding:0 20px 0 10px;
}

hr{
    background-color: #555;
    border: none;
    color: #555;
    height: 1px;
}


.leagueLogoItem {
    display: inline-block;
    color: #555;
}

.leagueLogo {
    overflow: hidden;
    width: 80px;
    height: 27px;
}

.leagueLogo > .first {
    transform: skew(-22.5deg);
    background: #555;
    height: 100%;
    width: 70px;
    margin-left: -35px;
}
.leagueLogoItem {
    display: inline-block;
    color: #555;
}
.leagueLogo > .second {
    transform: skew(-22.5deg);
    background: #555;
    height: 100%;
    width: 10px;
    margin-left: 10px;
}
.leagueLogoItem {
    display: inline-block;
    color: #555;
}
.footer-box{
    position: absolute;
    bottom: 0;
    max-width: 1150px;
    height: 80px;
}
.wrapper_modal{
    display:flex;
}
.select-menu {
    padding-left: 0;
}
#loader-container-players {
    position: absolute;
    top: -250px;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: #fff;
    text-align: center;
    /*width: 100%;*/
    /*height: 100%;*/
    z-index: 1000000000;
}

.k-slider-selection{
    background-color: #bb0a0a;
}
.wrapper_slider{
    display: flex;
    padding-top: 50px;

}
.slider_height,.slider_age{
    display: flex;
    flex-direction: column;
    padding-right: 50px;
}

.slider{
    width: 250px;
}
.panel_search{
    margin-top:50px;
}
.panel_playersearch{
    padding:15px;
}
.panel-title_playersearch a:hover{
    color:#bb0a0a;
}
.button_pint{
    float: right;
    margin-top: 19px;
    display: inline-block;
    padding: 6px 12px;
    font-size: 14px;
    font-weight: normal;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
}
.button_pint:hover{
    background-color: #d3d3d3;
    border: 1px solid transparent;
    border-radius: 4px;
}
.player-info ul.nav.nav-tabs.main-tab.table-tab {
    max-width: 94%;
    display: inline-block;
}

.box-header.print_select{
    display: none;
}
.stats_info {
    display: none;
}
.balSlider {
    width: 300px;
}
.prlayersearch_table tbody tr td{
    border: 2px solid white;
    padding:11px 25px 0 0;
}
.button_player-search{
    float: left;
    margin:15px 0 0 0;
    display: inline-block;
    font-size: 14px;
    font-weight: normal;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid #fff;
    border-radius: 4px;
}
.button_player-search a{
    padding: 3px;
    color:#fff;
}
.player_tools{
    text-transform: none;
    font-size: 14px !important;
}
.btn_wrapper-search{
    position:absolute;
    left: 975px;
    top: 300px;
}
.btn_search{
    display: inline-block;
    padding: 10px;
    color: #000;
    background-color: #e1e1e1;
    font-size: 14px;
    font-weight: normal;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    position: absolute;
    top: -377px;
    left: -60px;
    border: 1px solid #fff;
    border-radius: 4px;
}
.btn_search:hover{
    color:#ad0202;
}

/* Icon when the collapsible content is shown */
.search_players:after {
    font-family: "Glyphicons Halflings";
    content: "\e113";
    float: right;
    margin-left: 15px;
    padding-top: 3px;
    display: inline-block;
    color: #000;
    background-color: #e1e1e1;
    font-size: 14px;
    font-weight: normal;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;

}
/* Icon when the collapsible content is hidden */
.search_players.collapsed:after {
    content: "\e114";
}
.btn-info{
    display: inline-block;
    padding: 10px 20px;
    color: #000;
    background-color: #e1e1e1;
    font-size: 18px;
    font-weight: normal;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid #fff;
    border-radius: 4px;
    position: absolute;
    top: -82px;
    left: 600px;
}
.btn-info:active:hover,.btn-info:active,.btn-info:active:focus,.btn-info:focus{
     color: #000000;
     background-color:#e1e1e1 ;
     border:1px solid #fff;
     border-radius: 4px;
}
.btn-info:hover{
    color:#ad0202;
    background-color:#e1e1e1 ;
    border:1px solid #fff;
    border-radius: 4px;
}
.button_print-playersearch{
    margin:-89px -17px 0 0;
}

.search_player-modal{
    padding-left: 22px;
}
.hidden_player-tab{
    display: none;
}
.players_search.players_search-comparison{
    margin-left: 145px;
    margin-top: -98px;
}
.players_search.players_search-rankings{
    margin-left: 72px;
}

.div_wrapper-height{
    width: 100px;
}
@media print {
    .header_container,.button_pint,.visited_player-tab,.player_flag-hidden,.nationale,.prlayersearch_table,.footer{
        display: none !important;
    }
    .hidden_player-tab{
        display: block !important;
        margin-left:120px;
    }
    ul.table-tab{
        visibility: hidden;
    }
    .graph-container{
        display:flex;
        flex-direction: row;
        flex-wrap:wrap;
    }
    .player_info-wrapper{
        display:flex;
        flex-wrap: nowrap;
    }
    .third-chart{
        margin-bottom: 50px;
    }
    .player_legend{
        padding-top:90px;
        margin-top:0;
    }
    .table > thead > tr > th {
        color:#fff !important;
    }
    .player-info:before{
        content:url("../../image/logo.png");
        position: relative;
        left:730px;
        margin-top:40px;
        padding-bottom:50px;
        padding-left: 50px;
        transform: scale(1.2,1.2) !important;
    }
    .wrapper_search-playersearch:before{
        content:url("../../image/logo.png");
        position: relative;
        left:730px;
        margin-top:40px;
        padding-bottom:50px;
        padding-left: 50px;
        transform: scale(1.2,1.2) !important;
    }
    .title-modal-box.box-header.player-box{
        margin-top:-100px;
    }
    .player_name{
        margin: 50px 0 0 0 !important;
        padding-left: 170px !important;
        line-height: 30px !important;
        width: 110% !important;
        background-color: #930008 !important;
        position: relative !important;
        text-align: center !important;
        color: #fff !important;
    }
    .player_name:after{
        content: '' !important;
        position: absolute !important;
        background-color: #fff !important;
        height: 40px !important;
        width: 20px !important;
        transform: skewX(-30deg) !important;
        top: 0 !important;
        right: -9px !important;
    }
    .form-group,.player_carrer{
        border:none !important;
        margin-left:68px;
    }
    .filter-option.pull-left{
        display: inline !important;
        font-family:Titillium Web,sans-serif !important;
        font-weight: 600 !important;
        font-size: 18px !important;

    }
    .box-header{
        margin-bottom: 10px !important;
        position: relative !important;
        overflow-y: hidden !important;
    }
    .box-header_player-profile:before,
    .player-box:before{
        content: "" !important;
        background: #930008 !important;
        width: 80px !important;
        height: 100% !important;
        position: absolute !important;
        top: 0 !important;
        left: 0 !important;
        margin-left: -20px !important;
        -webkit-transform: skew(-22.5deg) !important;
        -ms-transform: skew(-22.5deg) !important;
        transform: skew(-22.5deg) !important;
    }
    .uppercase_player{
        color: #930008 !important;
        font-size: 20px;
    }
    .best_worst_game_wpr tbody tr td:first-child,.table-header-red tr th{
        background: linear-gradient(to bottom, #930008 0%, #4F0002 100%) !important;
        color:white !important;
    }
    .best_worst_game_wpr thead tr td{
        background: linear-gradient(to bottom, #930008 0%, #4F0002 100%) !important;
        color:white !important;
    }
    .best_worst_game_wpr thead tr.how_gm td{
        background: linear-gradient(to bottom, #4c4c4c 0%, #595959 12%, #666666 25%, #474747 39%, #2c2c2c 50%, #000000 51%, #111111 60%, #2b2b2b 76%, #1c1c1c 91%, #131313 100%) repeat scroll 0 0 rgba(0, 0, 0, 0) !important;
        color:white !important;
    }
    .how_gm td span,.glyphicon.glyphicon-thumbs-up:before,.glyphicon.glyphicon-thumbs-down:before{
        color:white !important;
    }
    .table-header-red tr th b{
        color:white !important;
    }
    .table-header-red th,.table-header-red th b{
        background: linear-gradient(to bottom, #930008 0%, #4F0002 100%) !important;
        color:white !important;
    }
    .game_tbl_wpr table thead tr td {
        background: linear-gradient(to bottom, #930008 0%, #4F0002 100%) !important;
        color:white !important;
    }
    [class*="chart-rank-cont"]{
        /*transform: scale(0.6,0.6) !important;*/
        margin:0 !important;
        margin-bottom: 85px !important;
        padding:0 !important;
        width: 25% !important;
        height: auto !important;
    }
    .tab-content{
        margin-top:-130px;
    }
    .table-condenced,.assist-analysis{
        margin-bottom: 60px !important;
    }
    .player-info-chart-cont{
        transform: scale(0.8,0.8);
    }
    .tendency-third-chart{
        display: flex;
        flex-wrap: nowrap;
        padding-bottom: 10px;
    }

    .box-header_player-profile:before {
        content: "";
        background: #c30200 !important;
        width: 80px;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        margin-left: -20px;
        -webkit-transform: skew(-22.5deg);
        -ms-transform: skew(-22.5deg);
        transform: skew(-22.5deg);
    }
    .box-header_player-profile h4.box-title:before {
        content: "";
        background: #fff!important;
        width: 10px;
        height: 100%;
        position: absolute;
        top: 0;
        left: 40px;
        -webkit-transform: skew(-22.5deg);
        -ms-transform: skew(-22.5deg);
        transform: skew(-22.5deg);
    }
    .wrapper_print_select{
        display: flex;
        position: absolute;
        top:-405px;
        /*left:500px;*/
    }
    .box-header.print_select{
        display: inline-block;
    }
    .btn.dropdown-toggle.btn-default{
        border:none;
    }
    .caret{
        display:none;
    }
    .filter-option.pull-left{
        font-size: 20px;
    }
    .player_carrer{
        display: none;
    }
    .stats_info{
        display: flex;
        align-items: center;
        position: relative;
        top:-375px;
        margin: 0;
        padding: 0;
    }

    .stats_info h4{
        display: inline !important;
        margin: 0!important;
        font-family:Titillium Web,sans-serif !important;
        font-weight: 600 !important;
        font-size: 20px !important;
        padding: 4px 4px 4px 75px !important;

    }
    .stats_info p{
        color: #c30200!important;
        text-transform: uppercase;
        display: inline !important;
        margin: 0!important;
        font-family:Titillium Web,sans-serif !important;
        font-weight: 600 !important;
        font-size: 18px !important;
        padding: 4px 4px 4px 75px !important;

    }
    .player_profile{
        display: flex;
        flex-direction: column;
        margin-top: -8px;
        margin-left: -60px;
    }
    .print_pie{
        padding-top:0;
        margin-top:30px!important;
        padding-bottom: 0!important;
        margin-bottom:0 !important;
        page-break-after: avoid !important;
        transform: scale(0.9,0.9);
    }
    .direction-chart,.point-shots-chart{
    transform: scale(0.8,0.8);
    }
    .shot-analysis,.tendency-fifth-chart,.tendency-sixth-chart{
    transform: scale(0.8,0.8);
    }
    .layout-row.layout-align-center-center, .search_players, .btn_search, .footer,.wrapper_modal,.wrapper_slider{
        display: none;
    }
    .wrapper_player-search_table{
        margin-left: -160px !important;
        transform: scale(0.95,1);
    }


}

