/*---additional---*/
body {
    font-family: 'Open Sans', sans-serif;
    color: #000;
}
html{
    background-color: #fff;
    overflow-y: auto;
}

ul li {
    list-style: none;
}

h1, h2, h3, h4 {
    font-weight: bold;
    margin: 5px 0 30px;
}

a {
    text-decoration: none;
    cursor: pointer;
}

a:hover {
    text-decoration: none;
}

.visible-class {
    display: block;
}

.hidden-class {
    display: none;
}

/*---custom---*/
.no-padding-left {
    padding-left: 0;
}

.no-padding-right {
    padding-right: 0;
}

.no-padding {
    padding: 0;
}

.nav-tabs {
    border-bottom: 1px solid #ddd;
    margin-bottom: 10px;
}

.nav-tabs > li > a {
    border-radius: 0;
    color: #545454;
    font-weight: bold;
}

.tab-content {
    float: left;
    width: 100%;
}

.tab-content > div {
    width: 100%;
    float: left;
}

.form-control {
    padding: 5px;
    height: 30px;
    line-height: 30px;
    border-radius: 0px;
}

.form-control:focus {
    box-shadow: none;
}

small.error {
    color: #a94442;
}
small.success {
    color: #b9bc5b;
}

section#slider_area {
    background: #222 /*#121e23*/;
    padding-bottom: 0;
    overflow: hidden;
}

.slider_text h2 {
    color: #fff;
    font-family: roboto;
    font-size: 39px;
    text-shadow: 5px 5px #000000;
    padding-top: 5%;
    font-weight: 900;
}

.header_top {
    height: 110px;
    background: #222 /*#121e23*/;
    overflow: hidden;
    width: 100%;
    line-height: 90px;
}

.logo {
    padding-top: 0px;
    text-align: center;
}

.logo h2 {
    font-family: Roboto;
    font-weight: 900;
    color: #fff;
    font-size: 24px;
    line-height: 0px;
    font-style: italic;
}

.sing_up {
}

.sing_up a {
    font-family: Roboto;
    font-weight: 500;
    color: #fff;
    font-size: 18px;
    text-decoration: none;
}

.sing_up a.btn {
    border: 1px solid #fff;
    width: 70px;
    margin-left: 24px;
    height: 35px;
    padding-top: 3px;
    margin-top: -3px;
}

.sing_up a.btn:hover {
    background: none;
    color: #fff;
}

.slider {
    width: 100%;
    max-width: 100%;
    height: 425px;
    position: relative;
}

.slide1,
.slide2,
.slide3,
.slide4,
.slide5,
.slide6,
.slide7,
.slide8 {
    position: absolute;
    background-size: 100%;
    width: 100%;
    height: 100%;
    opacity: 0;
}

.slide1 {
    background: url(https://s3.amazonaws.com/s4usitesimages/images/s5.png) no-repeat center;
    background-size: 100%;
}

.slide2 {
    background: url(https://s3.amazonaws.com/s4usitesimages/images/s4.png) no-repeat center;
    background-size: 100%;
}

.slide3 {
    background: url(https://s3.amazonaws.com/s4usitesimages/images/s2.png) no-repeat center;
    background-size: 100%;
}

.slide4 {
    background: url(https://s3.amazonaws.com/s4usitesimages/images/s3.png) no-repeat center;
    background-size: 100%;
}

.slide5 {
    background: url(https://s3.amazonaws.com/s4usitesimages/images/s1.png) no-repeat center;
    background-size: 100%;
}

.slide6 {
    background: url(https://s3.amazonaws.com/s4usitesimages/images/s6.png) no-repeat center;
    background-size: 100%;
}

.pos {
    z-index: 1;
    position: absolute;
    text-align: center;
    right: -515px;
    top: 75px;
}

.top {
    font-family: Roboto;
    font-size: 65px;
    color: #fff;
    font-weight: 500;
    padding-top: 60px;
}

.bottom {
    font-family: Roboto;
    font-size: 30px;
    color: #fff;
    font-weight: 500;
    bottom: -460px;
    width: 100%
}

.match_manage {
    padding: 70px 0 37px;
    /*overflow: hidden;*/
}

.single_itme {
    margin-bottom: 70px;
}

.single_itme img {
    width: 100%;
}

.hover img {
    width: 93%;
    transform: scale(1);
    transition: all ease 500ms;
}

.hover:hover img {
    transform: scale(1.1);
    transition: all ease 500ms;
}

.single_itme h2 {
    font-family: Arial;
    color: #282828;
    font-size: 13px;
    font-weight: 700;
    text-transform: uppercase;
}

.social_here {
    background: #033546;
    padding: 60px 0;
}

.social_list i {
    color: #033546;
    background: #fff;
    width: 55px;
    height: 55px;
    overflow: hidden;
    border-radius: 100%;
    font-size: 30px;
    padding-top: 10px;
    margin: 0 15px;
    transform: rotate(0deg);
    transition: all ease 500ms;
}

.social_list i:hover {
    color: #fff;
    background: none;
    border: 1px solid #fff;
    transform: rotate(360deg);
    transition: all ease 500ms;
}

.copy_area {
    background: #025556;
    height: 70px;
}

.copy_p {
}

.copy_p p {
    font-size: 16px;
    font-family: Raleway;
    color: #fff;
    font-weight: 400;
    padding-top: 27px;
}

.top-links-wrapper {
    background: #000000;
}

.top-links-wrapper ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

.top-links-wrapper ul li {
    float: left;
    margin-right: 10px;
}

.top-links-wrapper ul a {
    padding: 10px 0;
    color: #ffffff;
    display: block;
}

.table > thead > tr > th {
    background-image: linear-gradient(to bottom, #930008 0%, #4F0002 100%);
    color: #ffffff;
    border: none;
}

.table > thead > tr > th,
.table > tbody > tr > th,
.table > tbody > tr > td {
    font-size: 13px;
    padding: 4px 4px;
}

.table-wrapper {
    overflow-x: auto;
}

.panel-default > .panel-heading {
    background-color: #c30000;
    color: #ffffff;
    border-radius: 0;
    font-size: 15px;
    border: 1px solid white;
}

.panel-body {
    padding: 10px;
}

/***********************/
.top_header, .footer {
    width: 100%;
    background: #e1e1e1;
}

.top_header .navbar-inverse {
    border: #222;
}

.sing_up .pull-right > .dropdown-menu {
    right: 70px;
    left: auto;
    top: 40px;
    position: fixed;
}

.search_box_wpr .form-control {
    height: 34px;
}

.search_box_wpr .navbar-default {
    background-color: #222;
    border-color: #222;
}

.top_header .menus {
    font-size: 14px;
    height: inherit;
    display: flex;
    align-items: center;
}
.top_header.fixed_header {
    position: fixed;
    top: 0;
    z-index: 9;
}

.fixed_header.top_header .navbar-inverse {
    background-color: transparent;
}

.tp_right_header .nav > li > a {
    /* padding-top: 15px;*/
    padding: 0 15px !important;
    /*line-height: 40px;*/
}

.tp_right_header .nav > li > a:hover {
    border: 1px solid #c30000;
}

.nav-menu {
    display: flex;
    align-items: center;
}

.menu-height {
    height: 100% !important;
    display: flex;
    flex-direction: column;
}

.elem-league {
    position: relative;
}

md-menu-content.md-menu-bar-menu.md-dense .md-menu > .md-button {
    text-align: center;
}

/*.open-menu:hover .inside-menu-all{
    display: block!important;
}*/
md-menu-content .md-menu.md-open > .md-button:hover {
    background-color: #fff !important;
}

.elem-league:hover {
    background-color: #fff !important;
}

.fa-star {
    margin-left: 7%;
    width: auto;
    float: left;
    display: none;
}

.elem-league:hover .fa-star {
    display: block !important;
}


/*team search*/

md-menu-content.md-menu-bar-menu.team-search-container{
    background-color: #989898;
    position: absolute;
    left: -154px;
    top: 0;
    padding: 0;
    overflow: visible;
    display: flex;
    flex-direction: row;
}

md-menu-bar.md-default-theme md-menu.md-open>button,
md-menu-bar md-menu.md-open>button,
md-menu-bar.md-default-theme md-menu>button:focus,
md-menu-bar md-menu>button:focus{
    background-color: initial;
}

.team-search-container::before{
    content: '';
    position: absolute;
    top: -28px;
    left: 164px;
    border: 12px solid transparent;
    border-bottom: 17px solid #989898;
}

.input-container{
    width: 100%;
    min-height: 96px !important;
}

.input-container form {
    width: 100%;
}

input[type="search"]{
    font-family: 'Open Sans', 'FontAwesome', sans-serif;
    outline: none;
    border: none;
    width: 100%;
}

.search-result{
    /*overflow: hidden;*/
    width: 195%;
    padding:16px 0 10px 0;
    margin-left: -16px;
    max-height: 75vh;
    line-height: 1;
}

.search-table{
    display: table;
}

.search-tr{
    display: table-row;
}

.search-td{
    display: table-cell;
    width: 49%;
}
.team-search-container md-list-item.md-no-proxy, md-list-item .md-no-style{
    margin-top: -13px;
}

.search-result img{
    width: 30px;
    height: 30px;
    margin-right: 10px;
}

.search-result img:not([src]){
    display: none;
}


.search-result a{
    font-size: 12px;
    color: #0a0a0a;
}


.search-result a:hover{
    color: #d00202;
}

/*Player search result */
md-list-item.md-no-proxy, md-list-item .md-no-style .players .search-result{
    margin-top: initial;
}

md-menu-content.md-menu-bar-menu.player-search-container{
    background-color: #989898;
    position: absolute;
    left: -141px;
    top: 0;
    padding: 0;
    overflow: visible;
    display: flex;
    flex-direction: row;
}

.player-search-container::before{
    content: '';
    position: absolute;
    top: -28px;
    left: 156px;
    border: 12px solid transparent;
    border-bottom: 17px solid #989898;
}

.player-wrap{
    width: 80%;
    height: 47px;
}
.player-info-line {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
    margin-top: 6px;
    width: 80%;
}
.player-info-line p{
    margin-top: -4px;
    max-height: 20px;
    font-style: italic;
    font-size: 12px;
}

.search-result img.player-icon {
    margin-top: 10px;
    height: 50px;
    width: 34px;
}

.search-result-wrap{
    height: 60px;
}

/*Editor and Report iframe*/
.frame-container{
    background-color: rgba(1,1,1,0.7);
    position: fixed;
    top: 0;
    left: 0;
    bottom:0;
    right: 0;
    z-index: 99999;
}

.frame-container button{
    font-size: 35px;
    color: #f30c0c;
    position: absolute;
    right: -9px;
    top: -1px;
}


.frame-container iframe{
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.frame-container.report-frame iframe {
    overflow: scroll;
}








.header_container {
    display: flex;
    flex-wrap: wrap;
    padding: 10px 0;
    align-items: center
}

.modal .box .box-header {
    margin-bottom: 0px;
}

.modal .modal-body .iframe {
    border-width: 0px;
}

#editor .iframe {
    -ms-transform: scale(0.67);
    -moz-transform: scale(0.67);
    -o-transform: scale(0.67);
    -webkit-transform: scale(0.67);
    transform: scale(0.67);
}

.navbar-inverse .navbar-nav > li > a:focus, .navbar-nav > li:focus, .navbar-inverse .navbar-nav > li > a:hover {
    border-color: #fc5874;
}

.navbar-login {
    width: 100%;
    display: flex !important;
    justify-content: space-between;
}

.see_yourself {
    color: #fff;
    background: transparent;
    font-size: 16px;
    margin: 245px 0 0 -33%;
    border: none;
}

.right_pos .see_yourself:hover, .right_pos .see_yourself:active, .right_pos .see_yourself:focus {
    color: #fff;
    background: #1D242C;
}

.right_pos .see_yourself .glyphicon {
    word-spacing: -10px;
}

.see_yourself_sl {
    display: none;
}

.each_slide {
    margin-top: 30px;
    margin-left: -60px;
}

.p_icon_wpr {
    font-size: 44px;

}

.player_opt_wpr .player_opt:hover {
    color: #c30200;
}

.p_lable_wpr {
    font-size: 18px;
    font-weight: bold;
}

#rank_pslt .each_options {
    padding: 2px 1em 3px 0.4em;
}

#rank_pslt .each_options:hover {
    background-color: #BA0202 !important;
    border: 1px solid #BA0202 !important;
    background: #BA0202 !important;
}

.option_sectors {
    padding: 5px;
}

tr.avg_row {
    font-weight: bold;
    background: #ccc !important;
}

.modal-content-youtube {
    background-color: transparent;
    border: none;
    outline: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.modal-header-youtube {
    border-bottom: none;
    padding: 15px 0 0 0;
    width: 98%;
}

#yt_video {
    width: 100%;
    margin: 0 auto;
    height: 735px;
}

.modal-dialog-youtube {
    width: 64%;
    margin: 0 auto;
}

.modal-header .close-youtube {
    margin-top: 0;
    color: #ffffff;
    opacity: 1;
    font-size: 35px;
}

/*---leagues---*/
.dropdown-wrapper {
    background-color: #c30000;
    border-radius: 5px;
    margin-top: 10px;
}

.dropdown-wrapper a {
    color: #ffffff;
}

.dropdown-submenus {
    color: #0f0f0f;
    padding: 5px 35px;
}

.dropdown-submenus:hover {
    border-radius: 3px;
}

.dropdown-submenus:hover, .panel-heading:hover {
    background-color: #d9534f;
    color: #ffffff;
    cursor: pointer;
}

.aside-menu .panel-group {
    margin-bottom: 0;
}

.aside-menu .panel-group .panel {
    border: none;
    border-radius: 0;
}

.panel-default > .panel-heading + .panel-collapse > .panel-body {
    border: none;
}

/*---material---*/
.results-tab .panel-heading {
    width: calc(100% - 20px);
    text-align: left;
    margin: 5px 10px;
}

.team-image-leagues {
    width: 100px;
    height: 100px;
}

.tr_abs_div {
    position: absolute;
    right: 20px;
    top: 0px;
    z-index: 99;
}

.tr_abs_div .btn {
    opacity: 1;
    width: 24px;
    height: 24px;
    text-align: center;
    padding: 0px;
    box-sizing: border-box;
}

.bl_abs_div {
    position: absolute;
    left: 4px;
    bottom: 13px;
}

div.container-fluid{
    max-width: 1150px;
    padding: 0;
}

div.k-widget.k-slider.k-slider-horizontal.ng-scope.k-state-default{
    display: none !important;
}

video::-webkit-media-controls-overlay-play-button {
  'display: none;
	cursor: pointer;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";
	filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=70);
	opacity: 0.2;
}

/*********************************/