.player-info-block, .player-info-chart-cont{
    padding-top: 20px;
    padding-bottom: 20px;
    height: 270px;
}

.player-info.container{
    padding: 0;
}

.player-info-block{
    padding-left: 0 !important;
}
.player_name h4{
    margin: 0 !important;
}
.player_name{
    margin: 50px 0 0 0 !important;
    padding-left: 30px;
    line-height: 30px;
    width: 100%;
    background-color: #930008;
    position: relative;
    text-align: center;
    color: #fff;
}

.player_name:after{
    content: '';
    position: absolute;
    background-color: #fff;
    height: 30px;
    width: 86px;
    transform: skewX(-30deg);
    top: 0;
    right: -9px;
}

.player-img{
    margin: 0 !important;
    width: 150px;
    position: absolute;
    z-index: 1;
    left: 37px;
}

.player-img img{
    width: 150px;
    height: auto;
}

.player-info-block{
    position: relative;
}

.player-data p{
    margin: 0 0 0 200px;
}

.player-data .player_height{
    margin-top: 10px;
}
td.bold{
    font-weight: 700;
}

.box caption{
    padding-top: 0;
    padding-bottom: 0;
    min-height: 20px;
}

table thead.career-thead th{
    text-align: center;
    border-right: 1px solid #fff;
    border-left: 1px solid #fff;
    border-bottom:none;
    border-top: none;
}

.wide {
    width: 120px !important;
}

#career td, #career th{
    padding-left: 0;
    padding-right: 0;
    text-align: center;
}

.player-info-chart{
    max-width: 90%;
    height: 180px;
}

.fa-dribbble.lm, .fa-youtube-play{
    margin-right: 4px;
}

[class*="rank-chart-"]{
    height: 200px;
    position: relative;
}

[class*="chart-rank-cont"]{
    position: relative;
}

[class*="chart-rank-cont"] img {
    position: absolute;
    display: none;
    top: 10px;
    left: 20px;
    z-index: 1;
    width: 39px;
    height: 39px;
}

[role*="button"]:focus{
    outline: none !important;
}

.image_player-tendency{
    display: inline-block;
    padding: 3px;
    height: auto;
    width: 30%;
    float: left;
}
.palyer_tendency-h4{
    margin: 0;
    font-size: 11px;
    font-weight: 400;
}
select[multiple]#profile-games-search {
    display: none !important;
}
select.tend-select{
    display: none !important;
}

.action-chart-box, .shot-chart-box{
    width: 16%;
    display: inline-block;
    cursor: pointer;
}

.bootstrap-select.profile-games-search{
    width: 100% !important;
}

.action-chart{
    height: 350px;
}

.action-chart-title{
    z-index: 9999999999999999;
    cursor: pointer;
}

.action-chart-title, .shot-chart-title{

    margin-bottom: -40px;
    margin-top: 20px;
}

.action-chart-title p, .action-chart-title span, .shot-chart-title p, .shot-chart-title span{
    display: inline-block;
    margin: 0;

}
.action-chart-title, .shot-chart-title{
    text-align: center;
}


.action-chart-footer, .shot-chart-footer{
    text-align: center;
}

.action-chart-footer .text-box, .shot-chart-footer .text-box{
    column-count: 2;
}


.action-chart-footer p, .shot-chart-footer p{
    margin: 0;

}

.action-chart-box, .shot-chart-box{
    position: relative;
    font-size: 13px;
    margin: 10px 0;
}

.shot-chart-box, .action-chart-box{
    vertical-align: top;
}

.row.action-filter{
    text-align: center;
    margin: 30px 0;
}

.third-chart{
    width: 33%;
    height: 200px;
    display: inline-block;
}

.action-chart-title, .action-chart-footer, .shot-chart-title, .shot-chart-footer{
    display: none;
}
.action-chart-container text, .shot-chart-container text{
    fill: #0a0a0a !important;
}
.tendency-third-chart{
    padding-top: 70px;
}

.shot-analysis, .assist-analysis, .turnover-analysis{
    height: 300px;
}
.assist-analysis, .turnover-analysis{
    margin: 10px 0;
}

#chartContainerTab3{
    height: 400px;
    width: 100%;
    margin-top: 30px;
}

#chartContainerTab3 g{
    width: 100%;
}

#bestWorstChart{
    height: 400px;
    width: 100%;
}
.table-header-red th{
    background: linear-gradient(to bottom, #930008 0%, #4F0002 100%);
}
.best_worst_game_wpr thead tr {
    background: linear-gradient(to bottom, #930008 0%, #4F0002 100%);
    color: #fff;
    text-align: center;
}


.best_worst_game_wpr tr.how_gm {
    background: linear-gradient(to bottom, #4c4c4c 0%, #595959 12%, #666666 25%, #474747 39%, #2c2c2c 50%, #000000 51%, #111111 60%, #2b2b2b 76%, #1c1c1c 91%, #131313 100%) repeat scroll 0 0 rgba(0, 0, 0, 0);
}

.best_worst_game_wpr table{
    text-align: center !important;
}

.best_worst_game_wpr tbody tr td:first-child{
    background: linear-gradient(to bottom, #930008 0%, #4F0002 100%);
}

.box .box-header:before, .color-caption .box-header:before{
    background: #555555;
}

.color-caption .box-header h4.box-title{
    color: #555555;
}

.watch_game_wpr{
    padding-top: 20px;
}
.game_tbl_wpr table{
    vertical-align: middle !important;
}

.game_tbl_wpr .table > tbody > tr > td{
    vertical-align: middle !important;
}

.game_tbl_wpr thead {
    background: linear-gradient(to bottom, #930008 0%, #4F0002 100%);
    color: #fff;
}

.game_tbl_wpr a{
    color: #333333;
}

#stats-analysis{
    /*min-width: 1155px;*/
    max-width:1100px;
}

#stats-analysis table th, #stats-analysis table td{
    text-align: center;
}

#gameByGame thead{
    text-transform: uppercase;
}
#gameByGame table{
    text-align: center;
}

#gameByGame tr:last-child{
    background-color: #e6e4e4;
}


#clipsModal .modal-body {
    height: 540px;
}
#clipsModal .modal-dialog  {
    width: 1000px;
}

.video-list-holder{
    overflow-y: scroll;
}
.video-list{
    position: relative;
}
.btn-holder button{
    width: 35%;
    padding: 0 20px;
}
.league_wrap table, .season_breadown_wpr table,
.best_worst_game_wpr table, #gameByGame table,
.game_tbl_wpr table{
    width: 99.5% !important;
}

.league_wrap table td, .season_breadown_wpr table td,
.league_wrap table th, .season_breadown_wpr table th{
    padding: 3px 1px !important;
}
.watch_game_wpr{
    padding-left: 0;
    padding-right: 0;
}

#gameByGame{
    padding-right: 0;
}
th.stat-width{
    min-width: 110px;
}

#playClipsModal .modal-content{
    height: 473px;
}


#playClipsModal .modal-content .left-side{
    padding: 0px 0;
}

#play_list_data{
    overflow: auto;
    padding: 0px 0;
    overflow-y: scroll;
    background-color: #fff;
    height: 395px;
}

#play_list_data .item{
    cursor: pointer;
    height: 50px;
}

[ng-class="active"]{
    border: 2px solid black !important;
}

#playClipsModal .right-side {
    padding-left: 0 !important;
    padding-right: 0 !important;
}


#play_list_data .item img{
    display: inline-block;
    padding: 3px;
    height: auto;
    width: 30%;
    float: left
}

#play_list_data .description{
    margin-top: 5px;
    display: inline-block;
    padding: 3px;
    height: auto;
    width: 70%;
    float: left;
}
input[id*="tendency-video-"] {
    margin-left: 4px;
}

#play_list_data .description h4{
    font-size: 11px;
    font-weight: 400;
    margin: 0;
}

#play_clips_video{
    overflow-y: hidden;
    overflow-x: hidden;
    position: relative;
    height: 470px;
    display: flex;
    align-items: center;
}

#playClipsModal video{
    object-fit: initial;
    width: 100%;
    height: 470px;
}

#playClipsModal.full_screen video{
    height: 100vh;
}

#playClipsModal .modal-content button{
    display: inline-block;
    float: right;
}

#playClipsModal .modal-content .button-container{
    position: absolute;
    top: 11px;
    right: 11px;
    z-index: 1000;
    width: 225px;
}
.control-video {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    /*width: 224px;*/
    background-color: #fff;
    height: 40px;
}
.control-video_2{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    /*width: 224px;*/
    background-color: #fff;
    height: 74px;
}

#playClipsModal .modal-content{
    position: relative;
    border-top-left-radius: 6px !important;
    border-top-right-radius: 6px !important;
    overflow: hidden;
    background-color: black;
}

#playClipsModal.full_screen #play_list_data {
    height: 92vh;
}

#playClipsModal.full_screen .control-video {
    width: 402px;
}

#playClipsModal.full_screen .item {
    height: 90px;
    white-space: nowrap;
    overflow: hidden;
}

#playClipsModal.full_screen .description h4{
    line-height: 80px;
}

.watch_game_wpr {
    text-align: center;
}

.k-tooltip.k-chart-tooltip.k-chart-shared-tooltip table tr td,
.k-tooltip.k-chart-tooltip.k-chart-shared-tooltip table tr th {
    border: none;
    background: #000;
}

.k-tooltip.k-chart-tooltip.k-chart-shared-tooltip table tr td:last-child{
    padding-left: 3px;
}

.k-tooltip.k-chart-tooltip.k-chart-shared-tooltip{
    border-radius:  5px;
}

#chartContainerTab3 text[y='358']{
    display: none;
}

#loader-container-player{
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: #fff;
    text-align: center;
    width: 100%;
    height: 100%;
    z-index: 1000000000;
    /*display: none;*/
}
.player_legend{
    margin-top:55px;
    font-size: 16px;
    line-height: 8px;
}

.color_legend{
    width:16px;
    height:3px;
    display: inline-block;
    margin-right: 10px;
}
.glyphicon-play-circle{
    margin-left: 5px;
}
#loader-container-player>img{
    margin-top: 200px;
}

#open_video .modal-body video{
    width: 100%;
    height: 100%;
    position: absolute;
}
#open_video .modal-dialog{
    width: 101%;
    height: 100%;
    padding-left:1%;
}
#open_video .modal-body {
    padding: 0;
}

div.modal.fade.in{
    background-color: rgba(51,51,51,0.5);
}
div#open_video.modal.fade.bg_modal{
    background-color: #fff;
}
div#open_video.modal.fade.bg_modal button.close{
    color: #0a0a0a;
    margin: -10px -55px 0 0;
}
.align_block_modal{
    display: flex;
    justify-content: space-around;
}
.block_main_video{
    width: 66%;
    position: relative;
    margin: 0 10px;
    background-color: #212020;
}
.view_counter{
    position: absolute;
    width: 83px;
    height: 62px;
    top: 184px;
    left: 180px;
    border-radius: 4px;
    display: none;

}
.view_counter h5{
    font-weight: bold;
    position: absolute;
    left: 22px;
    top: -2px;
}
.view_counter h6{
    display: flex;
    color: #930008;
    font-size: 15px;
    font-weight: bold;
    position: absolute;
    left: 93px;
    top: -3px;
}


