<div id="content">
        <div class="widget">
            <div class="widget-body">
                <div class="row2">
                    <div class="block1">
                        <div ng-click="updateSeasonSelect()" class="players_search player_search-tools">
                                <a class="bd-gray" ui-sref="players">
                                <img src="../../../image/search-icon.png" alt="">
                                <h4 class="strong">Search</h4>
                            </a>
                        </div>
                        <div class="players_search">
                            <a class="bd-gray" href="">
                                <img src="../../../image/icon-rankings.png" alt="">
                                <h4 class="strong">Rankings</h4>
                            </a>
                        </div>
                    </div>
                    <div class="block2">
                        <div class="players_search">
                            <a class="bd-gray" href="">
                                <img src="../../../image/icon-comparison.png" alt="">
                                <h4 class="strong">Comparison</h4>
                            </a>
                        </div>
                        <div class="players_search">
                            <a class="bd-gray" href="">
                                <img src="../../../image/cinema-icon.png" alt="">
                                <h4 class="strong">Video</h4>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
