<div ng-controller="PlayerInfoController">
	<div class="container">
		<div class="row">
			<div class="col-md-4">
				<div class="player-profile">
					<div class="row">
						<div class="col-md-4 player-photo"><img src="3" alt="player photo"></div>
						<div class="col-md-8 player-bio">
							<table class="table table-stripped table-condensed">
								<tbody>
								<tr>
									<td colspan="2">somename</td>
								</tr>
								<tr>
									<td>Nationality :</td>
									<td></td>
								</tr>
								<tr>
									<td>Height :</td>
									<td></td>
								</tr>
								<tr>
									<td>Age :</td>
									<td></td>
								</tr>
								<tr>
									<td>Position: </td>
									<td></td>
								</tr>
								<tr>
									<td>Current team:</td>
									<td></td>
								</tr>
								</tbody>
							</table>
						</div>
					</div>
					<button> Add to My Folder</button>

				</div>
			</div>
			<div class="col-md-4"></div>
			<div class="col-md-4"></div>
		</div>
		<div class="row"></div>
	</div>

</div>